@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');

:root {
    --primary: #075FE4;
    --secondary: #2E81FF;
    --neutral800: #1B1F24;
    --neutral700: #2D343F;
    --neutral600: #5D6C83;
    --neutral500: #8895AA;
    --neutral400: #C3CAD5;
    --neutral300: #E4E7EC;
    --neutral200: #F0F2F4;
    --neutral100: #FFFFFF;
    --font1: 'Roboto', sans-serif;

    --heading1: 90px / 1.111em;
}

h4,
p {
    color: var(--neutral400);
    font-size: 18px;
}

body {
    background-color: #1B1F24;
    color: #E4E7EC;
    font-family: 'Roboto',
        sans-serif;
}

/* End Universal */

/* navigation bar */
nav {
    background-color: #1B1F24 !important;
}

.navbar-brand {
    overflow: hidden;
    transition: ease-in-out 0.4s;
}

.navbar-brand:hover {
    color: #2E81FF !important;
    transform: scale(1.2);
}

.nav-item {
    padding-left: 25px;
    font-size: 1.3em;
    font-weight: 200;
}

.nav-link {
    color: #FFFFFF !important;
    width: auto;
    transition: ease-in-out 0.7s;
}

.nav-link:hover {
    color: var(--neutral600) !important;
    transform: scale(1.2);
}

.reagan {
    border-radius: 50%;
}

/* end navigation bar */

/* hero section */
.hero {
    margin-top: 12vh;
}


.description {
    color: #FFFFFF;
    font-size: 3rem;
    /* font-weight: 600; */
    font-family: 'Spacegrotesk Bold';
}



.blue {
    color: #075FE4;
}

/* end hero section */

/* footer */
.footer {
    background-color: #1B1F24;
}


.copyright {
    font-size: 20px !important;

}

.last {
    padding-right: 1rem;
    font-size: 1.1rem;
}

.last1 {
    padding-right: 0px;
    font-size: 1rem;
}

.socials>a>i {
    font-size: 20px;
    transition: all 1s;
}


.socials>a>i:hover {
    color: #5D6C83;
    transform: scale(1.25);
}

.cp {
    color: var(--neutral600);
}


/* end footer */

/* projects */
.projects {
    background-color: #2D343F;
    min-height: 100vh;
}

.card {
    border-radius: 5% !important;
    border: #5D6C83;
    transition: ease-in-out 1s;
}

.zoom-img {
    overflow: hidden;
    border-top-right-radius: 5% !important;
    border-top-left-radius: 5% !important;
}

.zoom-img>img {
    transition: all 1.5s;

}

.zoom-img:hover img {
    transform: scale(1.3);


}

/* end projects */

/* contact */
.con {
    padding: 2rem;
    border-radius: 2em;
    background-color: #2D343F;
}

/* end contact */

/* media queries */

@media only screen and (max-width: 768px) {
    .hero {
        margin-top: 8vh;
    }

    .contact-left>h2 {
        text-align: center;
    }

    .contact-left>p {
        margin-left: 45px;

        text-align: center;

    }

    .con {
        background-color: inherit !important;
    }

    .socials {
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 992px) {
    .hero {
        margin-top: 8vh;
    }
}